@page "/consulta"

<PageTitle>Historial</PageTitle>
<h1 class="text-center m-5 custom-text"> Historial de salidas</h1>

<div class="mb-3 text-center w-50 mx-auto">
    <h3 for="busque" class="form-label p-6 me-2">Realizar busqueda: </h3>
</div>

<div class="mb-3 text-center w-75 mx-auto d-flex align-items-center">
    <DateInput TValue="DateOnly?" @bind-Value="@date1" @oninput="HandleInput" Placeholder="Fecha" />
    <input type="text" class="form-control shadow-lg p-2 m-3" id="search" @bind="nombreUs" placeholder="Nombre" Style="text-transform: uppercase">
    <input type="text" class="form-control shadow-lg p-2 m-3" id="search" @bind="nInvenStr" placeholder="No. Inventario">
    <Button Color="ButtonColor.Primary" class="shadow-lg p-2 m-2" @onclick="Buscar">
        <Icon Name="IconName.Search" Color="IconColor.White" />
    </Button>
    <Button Color="ButtonColor.Success" class="shadow-lg p-2 m-3">
        <Icon Name="IconName.FileTypeXls" Color="IconColor.White" />
    </Button>
</div>

<TablaConsulta Nombre="@nombreUs"
               NoInvenStr="@nInvenStr"
               Fecha="@date1"/> 

@code {

    private TablaConsulta tablaConsulta = default!;
    private DateOnly? date1 = DateOnly.FromDateTime(DateTime.Now);
    public string nombreUs { get; set; } = string.Empty;
    public string nInvenStr { get; set; } = string.Empty;
    public long? nInven => long.TryParse(nInvenStr, out var result) ? result : (long?)null;

    private void HandleInput(ChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value?.ToString()))
        {
            date1 = null;
        }
    }

    private async Task Buscar()
    {
        var fechaSeleccionada = date1.ToString();
        var nombre = nombreUs;
        var inventario = nInven;

        Console.WriteLine("IMPRESIÓN CON EL BOTÓN: "+fechaSeleccionada +", "+ nombre +", "+ inventario);
    }

}