:root {
    --bb-sidebar-width: 270px;
    --bb-sidebar-collapsed-width: 50px;
    --bb-sidebar-background-color: rgb(156, 34, 60);
    --bb-sidebar-top-row-background-color: rgba(0,0,0,0.08);
    --bb-sidebar-top-row-border-color: rgb(188, 149, 92);
    --bb-sidebar-title-text-color: rgb(255,255,255);
    --bb-sidebar-brand-icon-color: white;
    --bb-sidebar-brand-image-width: 24px;
    --bb-sidebar-brand-image-height: 24px;
    --bb-sidebar-title-badge-text-color: rgb(255,255,255);
    --bb-sidebar-title-badge-background-color: rgba(25,135,84,var(--bs-bg-opacity,1));
    --bb-sidebar-navbar-toggler-icon-color: rgb(0,0,0);
    --bb-sidebar-navbar-toggler-background-color: rgba(0,0,0,0.08);
    --bb-sidebar-content-border-color: rgb(194,192,192);
    --bb-sidebar-nav-item-text-color: rgb(255,255,255);
    --bb-sidebar-nav-item-text-active-color-rgb: rgb(255,255,255);
    --bb-sidebar-nav-item-text-hover-color: rgb(255,255,255);
    --bb-sidebar-nav-item-text-active-color: rgb(255,255,255);
    --bb-sidebar-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
    --bb-sidebar-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
}

@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-Regular.otf') format('opentype');
}

.custom-text {
    font-family: 'Montserrat',  sans-serif;
}

.blur-background {
    position: relative;
    background-image: url('Imagenes/fondo.jpg');
    height: 800px;
    background-size: cover;
    background-position: center;
}

    .blur-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(8px); /* Ajusta el desenfoque */
        z-index: -1;
    }

.card-header, .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-bg {
    background-color: #c22a4a;
}
