
@inherits LayoutComponentBase
@inject NavigationManager navi


<div class="bb-page">

    <Sidebar @ref="sidebar"
             Href="/ControlSalidaBienes/home"
             ImageSrc="Imagenes/logoW.png"
             Title="SALIDA DE BIENES"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between" style="background-color:rgb(165, 127, 44);">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar" Color="IconColor.White" />    
            <Button @onclick="cerrarSesion">
                <Icon Name="IconName.PersonRaisedHand" Color="IconColor.Dark" />Cerrar sesión
            </Button>
        </div>
        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>{
            new NavItem { Id = "1", Href = "home", IconName = IconName.House, Text = "Inicio"},
            new NavItem { Id = "2", Href = "consulta", IconName = IconName.CardList, Text = "Historial"}
        }; 
        return navItems;
    }

    private void cerrarSesion()
    {
        navi.NavigateTo("/ControlSalidaBienes"); // Redirigir al usuario al inicio
    }

    private void ToggleSidebar() => sidebar.ToggleSidebar();

}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<Modal IsServiceModal="true" />
<Preload LoadingText="Espere..." />