<Grid TItem="Producto"
      Class="table table-hover table-bordered table-striped"
      AllowPaging="true"
      PageSize="100"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="Producto" HeaderText="Fecha y hora">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Nombre">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="No.">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="No. Inventario">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Descripción">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Motivo de salida">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Observaciones">
            
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Estatus">
            
        </GridColumn>
@*         <GridColumn TItem="Producto" HeaderText="Añadir Producto">
            <Button Color="ButtonColor.Success">
                <Icon Name="IconName.Plus" />
            </Button>
        </GridColumn> *@
    </GridColumns>

</Grid>

@code {

    
}